*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.bg-icon {
  height: 30vh; }

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #1f2f56;
  background-color: #e0e8ff;
  height: 100vh;
  overflow: hidden; }

.btn-cta {
  display: block;
  width: 100%;
  font-weight: 700;
  line-height: 1;
  padding: 1.5rem 1.8rem;
  text-decoration: none;
  color: #fff;
  background: #3829e0;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s; }
  .btn-cta:hover {
    background: #7280a7; }

.container {
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card {
  width: 30rem;
  overflow: hidden; }
  .card .card__picture {
    background: url(../images/illustration-hero.svg);
    background-size: cover;
    height: 15rem;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .card .card__content {
    background: #fff;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 0.5rem 2rem rgba(31, 47, 86, 0.25);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden; }
    .card .card__content .link {
      font-weight: 700;
      color: #7280a7;
      text-decoration: none;
      transition: all 0.2s; }
      .card .card__content .link:hover {
        color: #1f2f56; }
  .card__heading {
    font-weight: 900;
    margin-bottom: 0.8rem; }
  .card__paragraph {
    font-size: 1.3rem; }
  .card__plan-box {
    background: #f5f7ff;
    display: flex;
    align-items: center;
    padding: 1.5rem 1.3rem;
    border-radius: 10px;
    margin: 1rem 0 2rem; }
    .card__plan-box img {
      width: 3.5rem;
      margin-right: 1.5rem; }
    .card__plan-box ul {
      list-style: none;
      font-size: 1.2rem;
      font-weight: 900;
      margin-right: auto; }
    .card__plan-box li {
      font-weight: 500; }
    .card__plan-box a {
      font-weight: 700;
      color: #3829e0;
      transition: all 0.2s; }
      .card__plan-box a:hover {
        color: #7280a7;
        text-decoration: none; }
